<% product = Product.where(:name => "Coffee").first %>
<p>
  Product Name: "<%= product.name %>" costs $<%= product.price %>
</p>
<p>
  The seller for this product is named '<%= product.user.name %>'
</p>

<p>
	Total Products: <%= total_count = Product.count %>
</p>
