<% lots_of_products = Product.includes(:user).all %>

<ul>
	<% lots_of_products.each do |product| %>
		
	<li>
		Product name: <strong>"<%= product.name %>"</strong>, Product price: <strong>"£<%= product.price %>"</strong>

		Sold by: <strong>"<%= product.user.name %>"</strong>
	</li>


	<% end %>
</ul>
